body {
  box-sizing: border-box;
  margin: 0;
  color: #b7bbc1;
}


.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    background: #b7bbc1 url("https://image.freepik.com/free-vector/evening-landscape_7993-2580.jpg") no-repeat center;
    background-size: cover;
}

  
.weather_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather_heading {
  margin-top: 2rem;
}

.weather_data {
  margin-top: 6rem;
}

.weather_data-info {
  margin: .4rem;
  padding: 1rem;
  background-color: rgba(69,74,84, .6);
  border-radius: 8%;
}